*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    padding: 0px 15px;
}
body{
    max-width: 2200px;
}
html{
    background: #FFFFFF;
}
#logo{
    width: 317px;
    height: 121px;
    background: #CECECE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #000000;
    margin-right: 43px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 194px;  
    justify-content: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
nav a{
    color: #000000;
    font-size: 20px;
}
.li1{
    margin-right: 90px;
}
.li2{
    margin-right: 90px;
}
.li3{
    margin-right: 20px;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}
.img1{
    display: flex;
    margin-left: 10px;
    margin-top: -20px
}
.img2{
    width: 45px;
    height: 30px;
    margin-top: 47px; 
}
nav .borr{
    width: 353px;
    height: 59px;
    background: #e5e5e5;
    border-radius: 15px;
    margin-right: 35px;
    margin-top: 35px; 
}
input{
    display: flex;
    margin-left: 40px;
    margin-top: 17.5px;
    background-color: #e5e5e5;
}
.welcome{
    font-style: italic;
    text-align: center;
    font-size: 120px;
    color: #000000;
    align-items: flex-start;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    margin: 423px 194px; 
    justify-content: space-around;   
}
/* .welcometofoodhunter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
.signuplogin{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.signup, .login{
    width: 205px;
    height: 65px;
    background: linear-gradient(123.29deg, #ABABAB 5.5%, #ACACAC 82.86%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(0, 0, 0, 0.25), inset -1px 1px 2px rgba(0, 0, 0, 0.25), inset 1px -1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(0, 0, 0, 0.25), inset 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}
.signup{
    margin-right: 63px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    margin: 284px 194px;
    align-items: center;
    justify-content: center;
}
.container4{
    display: flex;
    flex-wrap: wrap;
    margin: 215px 194px;
    align-items: center;
    justify-content: center;
}
.illustration{
    width: 1340px;
    height: 825px;
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
}
.firsttext{
    width: 615px;
    height: 70px;
    margin-top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    display: flex;
}
